.container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;

  .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    min-width: 300px;
    display: grid;
    gap: 10px;

    &-header {
      font-size: 20px;
    }

    &-content {
      max-width: 500px;

      span {
        font-weight: 700;
      }
    }

    &-header,
    &-footer {
      display: flex;
      justify-content: end;
    }
  }

  .close-dialog {
    background-color: rgb(201, 42, 42);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    border: unset;
    outline: unset;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;

    &:hover {
      background-color: darken(rgb(201, 42, 42), 10%);
    }

    i:hover {
      color: #fff;
    }
  }
}
